<div class="container mt-3">
    <h2>Agent Buddy</h2>
    <div class="row">
        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
            <h3>Stats</h3>
            <img src="../../assets/images/smiley.jpg" class="img-thumbnail">
            
            <p> Hey you are doing a great Job!!</p>
        </div>
        <div class="col-12 col-md-8 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
            <div class="p-2 bg- mr-auto">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Tips!!</h4>
                    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                    <hr>
                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                </div>
            </div>

        </div>
    </div>
    <app-agent-details></app-agent-details>
</div>